html,
body {
  width: max-content;
  min-width: 100%;
}

body {
  margin: 0;
  font-family: "Nanum Pen Script", cursive;
  -webkit-font-smoothing: antialiased;
  background: url(.//images/geometry2.png) repeat;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
